html {
	font-size: 10px;
	font-family: 'Kavivanar', cursive;
	background-color: #00539F;
}
h1 {
	font-size: 60px;
	text-align: center;
}
p, li {
	font-size: 16px;
	line-height: 2;
	letter-spacing: 1px;
}
body {
	width: 600px; 'Всегда Body будет 600 пикселей в ширину'
	margin: 0 auto; 'margin Влияет на верхнюю и нижнюю строки'
	background-color: #ff9500;'background-color цвет фона элемента'
	padding: 0 20px 20px 20px;'padding влияет на левую и правую стороны'
	border: 5px solid black;'Устанавливает сплошную черную рамку шириной 5 пикселей'
}

	
	