html {
	font-size: 20px;
	font-family: 'PT Serif', serif;
	
}
p {
	font-size: 50px;
	text-align: center;
	color: #00539F;
	text-shadow: 3px 3px 1px black; 'Добавляет тень для текста'
}

ul {
padding: 0px 50px;
}

#infa {
	padding: 10px 10px;
	list-style-type: none;
}

#infa2 {
		padding: 10px 70px;
		list-style-type: none;
}

