html {
	font-size: 10px;
	font-family: 'PT Serif', serif;
	background-color: ##FFFFFF;
}
h1 {
	font-size: 60px;
	text-align: center;
	padding: 20px 0;
	color: #00539F;
	text-shadow: 3px 3px 1px black; 'Добавляет тень для текста'
}
p {
	font-size: 60px;
	text-align: center;
	padding: 20px 0;
	color: #00539F;
	text-shadow: 3px 3px 1px black; 'Добавляет тень для текста'
}