html {
	font-size: 10px;
	font-family: 'Kavivanar', cursive;
	background-color: ##FFFFFF;
}
h1 {
	font-size: 60px;
	text-align: center;
}
p, li {
	font-size: 16px;
	line-height: 2;
	letter-spacing: 1px;
}
body {
	width: 1920px; //Всегда Body будет 1920 пикселей в ширину
	margin: 0 auto; //margin Влияет на верхнюю и нижнюю строки
	background-color: #ff9500;'background-color цвет фона элемента'
	padding: 0px 50px 50px 50px;'padding влияет на левую и правую стороны'
	border: px solid black;'Устанавливает сплошную черную рамку шириной 5 пикселей'
}
h1 {
	margin: 0;
	padding: 20px 0;
	color: #00539F;
	text-shadow: 3px 3px 1px black; 'Добавляет тень для текста'
}
img {
	display: block;
	margin: 0 auto;
}
a {
	font-size: 20px;
}


ul.menu li {
	display: inline;
	margin-right: 4px;
	padding: 2px;
}
ul, li {
	text-align: center; //выравнивание текста по центру
}






ul {
  list-style: none; 
  margin: 0 auto;
}
a {
  text-decoration: none;
  font-family: 'Lora', serif;
  
}
i {
  margin-right: 100px;
}
nav {
  display: block;
  width: 1500px;
  margin: 0 auto 10px;
}
.one ul {
  padding: 1em 0;
  background: #;
}
.one a {
  padding: 1em;
  background: rgba(177, 152, 145, .3);
  border-right: 1px solid #1E90FF;
  color: #695753;
}
.one a:hover {background: #1E90FF;}
.one li {
  display: inline;
}

	
