html {
	font-size: 10px;
	font-family: 'PT Serif', serif;
	
}
h1 {
	font-size: 60px;
	text-align: center;
}
p, li {
	font-size: 20px; //Определяет размер шрифта
	line-height: 2;// Устанавливает межстрочный интервал
	letter-spacing: 1px;//Определяет интервал между символами в пределах элемента
	
}
body {
	width: 1920px; //Всегда Body будет 1920 пикселей в ширину
	margin: 0 auto; //margin Влияет на верхнюю и нижнюю строки
	
	
}
h1 {
	margin: 0;
	padding: 20px 0;
	color: #00539F;
	text-shadow: 3px 3px 1px black; 'Добавляет тень для текста'
}

a {
	font-size: 20px;
}

#socset {
	text-align: center;
	font-size: 30px;
	
}


	